.home-page-main {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home-page-main .navbar-wrapper {
    background-color: #ffffff;
    height: 1024px;
    overflow: hidden;
    width: 1439px;
  }